@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans text-zinc-900 antialiased;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
